extends layout

block content
    div
        table
            thead
                tr
                    th type
                    th time
                    th keyword
                    th url
            tbody
                each item in lists
                    tr
                        td #{item.type}
                        td #{item.time}
                        td #{item.keyword}
                        td #{item.url}